<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="XMLCCLREQUEST,APPLINK,MPAGES_EVENT" name="discern"/>
 
<link rel="stylesheet" type="text/css" media="screen" href="/css/colorbox.css" />
<script language="javascript" type="text/javascript" src="/jquery/jquery-1.11.0.min.js"></script>
<script language="javascript" type="text/javascript" src="/jquery/jquery.colorbox-min.js"></script>
<script language="javascript" type="text/javascript" src="/js/CoMorbRules.js"></script>
<script language="javascript" type="text/javascript" src="/js/uhmc_mp_comorbidity2.js"></script>

<script language="javascript" type="text/javascript" src="/jquery/jquery-ui-1.8.14.js"></script>
<script language="javascript" type="text/javascript" src="/jquery/jquery.blockUI.js"></script>

<script language="javascript" type="text/javascript" src="/js/RandomPDF.js"></script>
<script language="javascript" type="text/javascript" src="/js/echo.js"></script>

<script language="javascript" type="text/javascript" src="/js/ekg.js"></script>


<script language="javascript" type="text/javascript" src="/js/Radiology1.js"></script>



<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
 
<script type="text/javascript">
$(document).ready(function(){
	$(".inline").colorbox({
		inline:true,
		innerWidth:'1000px',
		innerHeight:'700px',
		onClosed: function(){
        	$('#helpWindow').html('');
    		}
		});
	});
</script>

<style type="text/css">
 
#comorbbody button {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 1px 1px;
    cursor: pointer;
}
 
.imageBackSingle{
position: absolute;
display:none;
background: transparent;
}
 
.imageBack{
position: absolute;
display:none;
background: transparent;
}
 
.dynamicDiv {
position: relative;
border: 1px solid #107896;
padding-left: 10px;
padding-bottom: 1%;
font-family: sans-serif;
font-size: 14px;
}
 
.borderMain {
 
padding-left: 3%;
padding-bottom : 2%;
padding-top: 1%;
 
}
 
span{
font-size: 16px;
font-weight: 700;
}

.test {
text-align: center;
font-size: 13px;
font-weight: bold;
padding: 4px;
width: 50%;
border-width: 1px;
border-style: solid;
color:white;
border-color: #107896;
/*border-color: #cc0000;*/
background-color: #107896;
/*background-color: #EEEDD8;*/
}
 
tr{
    height:25px;
    cursor: pointer;
}
 
a {
    cursor: pointer;
}
 
</style>
 
</head>
 
<body id="comorbbody" bgcolor="#EEEDD8" style="font-family:sans-serif; font-size:14px;" onload='javascript:start();'>
<script type="text/javascript">
function start() {
	var get = <%-title%>;
	//alert("get");
	init(get);
	initRS(get);
	init_ECG(get);
	init_ECHO(get);
}
</script>

<div style="display:none">
	<div id="helpmenu1" style="padding:10px; background:#fff;">
		<a onclick="javascript:$.colorbox.close();">
		<img src="/img/close.png" alt="Close Help" style="float:right; width:32px; height:32px;" /></a>
		<br><br>
		<table style='color:#333;padding:10px;border:5px solid #B8B8B8;background-color:white;text-align:left;'>
		<col width='35%'>
		<col width='5%'>
		<col width='60%'>
		<tr><td valign='top'>
		<ul>
		<li style='margin-bottom: 20px;' onclick="javascript:getHelpGuide();"><b><font color='blue'>How To Guide</font></b>
		<ul><li><font color='blue'><a href='$SOURCE_DIR$\img\Comorbidities_HowToGuide.docx'>Open a printable version</a></li></ul>
		</li>
		<li style='margin-bottom: 20px;'>
		<div id='comorbrulesLabel' onclick='javascript:toggleRules();'><b>Show Comorbidities Rules</b></div>
		<ul id='comorbrules'>
		<li onclick="javascript:getHelp('Acid Base Disorder');"><font color='blue'>Acid Base Disorder</font></li>
		<li onclick="javascript:getHelp('Anemia');"><font color='blue'>Anemia</font></li>
		<li onclick="javascript:getHelp('Dehydration');"><font color='blue'>Dehydration</font></li>
		<li>Electrolyte Abnormality
		<ul>
		<li onclick="javascript:getHelp('Hypokalemia');"><font color='blue'>Hypokalemia</font></li>
		<li onclick="javascript:getHelp('Hyperkalemia');"><font color='blue'>Hyperkalemia</font></li>
		<li onclick="javascript:getHelp('Hyponatremia');"><font color='blue'>Hyponatremia</font></li>
		<li onclick="javascript:getHelp('Hypernatremia');"><font color='blue'>Hypernatremia</font></li>
		<li onclick="javascript:getHelp('Hypocalcemia');"><font color='blue'>Hypocalcemia</font></li>
		<li onclick="javascript:getHelp('Hypercalcemia');"><font color='blue'>Hypercalcemia</font></li>
		<li onclick="javascript:getHelp('Hypophosphatemia');"><font color='blue'>Hypophosphatemia</font></li>
		<li onclick="javascript:getHelp('Hyperphosphatemia');"><font color='blue'>Hyperphosphatemia</font></li>
		<li onclick="javascript:getHelp('Hypomagnesemia');"><font color='blue'>Hypomagnesemia</font></li>
		<li onclick="javascript:getHelp('Hypermagnesemia');"><font color='blue'>Hypermagnesemia</font></li>
		</ul></li>
		<li onclick="javascript:getHelp('Elevated Blood Glucose');"><font color='blue'>Elevated Blood Glucose</font></li>
		<li onclick="javascript:getHelp('Granulocytopenia');"><font color='blue'>Granulocytopenia</font></li>
		<li onclick="javascript:getHelp('Hypercholesterolemia');"><font color='blue'>Hypercholesterolemia</font></li>
		<li onclick="javascript:getHelp('Hypertension');"><font color='blue'>Hypertension</font></li>
		<li onclick="javascript:getHelp('Hypoglycemia');"><font color='blue'>Hypoglycemia</font></li>
		<li onclick="javascript:getHelp('Hypotension');"><font color='blue'>Hypotension</font></li>
		<li onclick="javascript:getHelp('Hypoxia');"><font color='blue'>Hypoxia</font></li>
		<li onclick="javascript:getHelp('Kidney Injury');"><font color='blue'>Kidney Injury</font></li>
		<li onclick="javascript:getHelp('Lactic Acidosis');"><font color='blue'>Lactic Acidosis</font></li>
		<li onclick="javascript:getHelp('Malnutrition');"><font color='blue'>Malnutrition</font></li>
		<li onclick="javascript:getHelp('Morbid Obesity');"><font color='blue'>Morbid Obesity</font></li>
		<li onclick="javascript:getHelp('Obesity');"><font color='blue'>Obesity</font></li>
		<li onclick="javascript:getHelp('Pancytopenia');"><font color='blue'>Pancytopenia</font></li>
		<li onclick="javascript:getHelp('Respiratory Failure');"><font color='blue'>Respiratory Failure</font></li>
		<li onclick="javascript:getHelp('Shock');"><font color='blue'>Shock</font></li>
		<li onclick="javascript:getHelp('SIRS');"><font color='blue'>SIRS/Sepsis</font></li>
		<li onclick="javascript:getHelp('UTI');"><font color='blue'>UTI</font></li>
		</ul></li>
		</ul>
		</td>
		<td></td>
		<td style='vertical-align:top;width:700px;'>
		<div id="helpWindow"></div>
		</td>
		</tr>
		</table>
	</div>
</div>
<div id='topmenu' align='center' style='valign:middle;position:fixed;right:1%;top:3%;width:180px;height:80px; background-color:\white'>
	<a onclick="javascript:commit();">
	<input type="image" src="/img/commit.png" title="COMMIT" style="width: 36px; height: 36px; margin-left: 80px;"></a>
	<a class="inline" href="#helpmenu1">
	<input type="image" src="/img/help.png" title="HELP" style="width: 36px; height: 36px; margin-left: 80px;" /></a>
	<a onclick="javascript:generatePDF();">
	<input type="image" src="/img/pdf_icon.png" title="PRINT" style="width: 36px; height: 36px; margin-left: 80px;"></a>
</div>

<div id='pcheader'></div>
<div id="wrap">
	<div width="100%" style="background:#fff;">
		<table width="100%">
			<tr>
				<td valign="top" width="40%" style='padding-left:10%'>
					<div id='pcbody'></div>
				</td>
				<td valign="top" width="60%">
					<div id="pcshow"  style = "background:#fff; display:none; overflow-y:scroll; height:500px;">
						<a href = "#pcheader"><button onclick="javascript:hidePDF(true,'PC')">Hide Report</button></a>
						<div id="pdftablepc" width="100%" style="display:none; margin:15px;"></div>
						<div id="pdfframepc" width="100%" style="display:none;"></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id='edheader'></div>
<div id="wrap">
	<div width="100%" style="background:#fff;">
		<table width="100%">
			<tr>
				<td valign="top" width="40%" style='padding-left:10%'>
					<div id='edbody'></div>
				</td>
				<td valign="top" width="60%">
					<div id="edshow"  style = "background:#fff; display:none; overflow-y:scroll; height:500px;">
						<a href = "#edheader"><button onclick="javascript:hidePDF(true,'PC')">Hide Report</button></a>
						<div id="pdftableed" width="100%" style="display:none; margin:15px;"></div>
						<div id="pdfframeed" width="100%" style="display:none;"></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id="ccheader"></div>
<div id="ccbody"></div>

<div id="rrheader"></div>
<div id="wrap">
	<div width="100%" style="background:#fff;">
		<div id="rrlist"></div>
		<table width="100%">
			<tr>
				<td valign="top" width="40%" style='padding-left:10%'><div id="rrbody"></div></td>
				<td valign="top" width="60%">
					<div id="rrshow" style="background:#fff; display:none; overflow-y:scroll;height:500px;">
					    <a href="#rrheader"><button onclick="javascript:hidePDF(false,'RADIOLOGY')">Hide Report</button></a>
						<div id="pdftable" width="100%" style="display:none; margin:15px;"></div>
						<div id="pdfframe" width="100%" style="display:none;"></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id="ecgheader"></div>
<div id="ecgwrap">
	<div width="100%" style="background:#fff;">
		<div id="ecglist"></div>
		<table width="100%">
			<tr>
				<td valign="top" width="40%" style='padding-left:10%'><div id="ecgbody"></div></td>
				<td valign="top" width="60%">
					<div id="ecgshow" style="background:#fff; display:none; overflow-y:scroll;height:200px;">
					    <a href="#ecgheader"><button onclick="javascript:hidePDF(false,'ECG')">Hide Report</button></a>
						<div id="pdftableecg" width="100%" style="display:none; margin:15px;"></div>
						<div id="pdfframeecg" width="100%" style="display:none;"></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id="echoheader"></div>
<div id="echowrap">
	<div width="100%" style="background:#fff;">
		<div id="echolist"></div>
		<table width="100%">
			<tr>
				<td valign="top" width="40%" style='padding-left:10%'><div id="echobody"></div></td>
				<td valign="top" width="60%">
					<div id="echoshow" style="background:#fff; display:none; overflow-y:scroll;height:200px;">
					    <a href="#echoheader"><button onclick="javascript:hidePDF(false,'ECHO')">Hide Report</button></a>
						<div id="pdftableecho" width="100%" style="display:none; margin:15px;"></div>
						<div id="pdfframeecho" width="100%" style="display:none;"></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
 
<div id='pdfTest'></div>
 
<div id="ocheader"></div>
<div id="ocbody"></div>

<div id="alheader"></div>
<div id="albody"></div>
<div width="100%" style="background:#fff;">&nbsp;<br><br><br><br><br><br><br><br><br><br></div>

<script type="text/javascript">
initRR();
initECG();
initECHO();

</script>
</body>
</html>
